<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hope.blog.blog.mapper.BlogArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hope.blog.blog.model.BlogArticle">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="summary" property="summary"/>
        <result column="admin_id" property="adminId"/>
        <result column="content" property="content"/>
        <result column="is_publish" property="isPublish"/>
        <result column="tag_id" property="tagId"/>
        <result column="cover" property="cover"/>
        <result column="click_count" property="clickCount"/>
        <result column="is_original" property="isOriginal"/>
        <result column="articles_part" property="articlesPart"/>
        <result column="sort" property="sort"/>
        <result column="open_comment" property="openComment"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        title,
        summary,
        admin_id,
        content,
        is_publish,
        tag_id,
        cover,
        click_count,
        is_original,
        articles_part,
        sort,
        open_comment,
        create_time,
        create_by,
        update_time,
        update_by
    </sql>

    <select id="getHotArticle" resultType="com.hope.blog.blog.model.BlogArticle">
        select <include refid="Base_Column_List"></include> from blog_article order by click_count desc limit 10
    </select>

</mapper>