<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hope.blog.blog.mapper.BlogTagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hope.blog.blog.model.BlogTag">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name,
        sort,
        create_time,
        create_by,
        update_time,
        update_by
    </sql>

    <select id="getTag" resultType="com.hope.blog.blog.dto.response.BlogTagListResponse">
        select a.name,a.id,IFNULL(b.num,0) num,a.icon from blog_tag a left join
        (
        SELECT
        tag_id,
        count( tag_id ) num
        FROM
        (
        SELECT
        substring_index( substring_index( qa.tag_id, ',', b.help_topic_id + 1 ), ',',- 1 ) AS tag_id
        FROM
        blog_article qa
        JOIN mysql.help_topic b ON b.help_topic_id &lt; ( length( qa.tag_id ) - length( REPLACE ( qa.tag_id, ',', '' ) ) + 1 )
        ) a
        GROUP BY
        a.tag_id
        ) b on a.id = b.tag_id
    </select>

</mapper>