<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hope.blog.comment.mapper.BlogCommentReplayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hope.blog.comment.model.BlogCommentReplay">
        <id column="id" property="id" />
        <result column="comment_id" property="commentId" />
        <result column="from_id" property="fromId" />
        <result column="from_name" property="fromName" />
        <result column="from_avatar" property="fromAvatar" />
        <result column="mail" property="mail" />
        <result column="to_id" property="toId" />
        <result column="to_name" property="toName" />
        <result column="to_avatar" property="toAvatar" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, comment_id, from_id, from_name, from_avatar, mail, to_id, to_name, to_avatar, content, create_time, create_by, update_time, update_by
    </sql>

</mapper>
